# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Flask
instance/

# Database files
*.db
*.sqlite3

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/